<section class="sidebar"></section>
<main>
  <nav class='group'>
    <button id="open-sidebar"><span class='antenna'></span></button>
    <article class="links"></article>
  </nav>

  <section id="main"></section>

  <div class="cover"></div>
</main>

<section class="modal">
  <div class="overlay"></div>
  <article class="modal-content"></article>
</section>

<script>
  $(function () {
    Clickster.initialize({
      $sidebar: $('.sidebar'),
      $navbar: $('nav > .links'),
      $rootEl: $('#main'),
      $modal: $('.modal-content')
    });

    <% if signed_in? %>
    Clickster.currentUser.fetch();
    <% end %>
  });
</script>

<script id='decades'>
  <%= TvDecade.decades_list.to_json.html_safe %>
</script>

<script id="genres">
  <%= TvGenre.genres_list.to_json.html_safe %>
</script>
