<section id="sidebar"></section>
<main>
  <button id="open-sidebar"></button>
  <section id="main"></section>
</main>

<section class="modal">
  <div class="overlay"></div>
  <article class="modal-content"></article>
</section>

<script>
  $(function () {
    Clickster.initialize({
      $sidebar: $('#sidebar'),
      $rootEl: $('#main'),
      $modal: $('.modal-content')
    });

    <% if signed_in? %>
    Clickster.currentUser.fetch();
    <% end %>
  });
</script>

<script id='decades'>
  <%= TvDecade.decades_list.to_json.html_safe %>
</script>
