<h1>Edit Profile</h1>

<form>
  <ul class="errors"></ul>

  <div class="form-section">
    <h3>Update Your Profile Pic</h3>

    <fieldset>
      <label for="user_profile_pic">
        Profile Pic
        <button type="button" class="filepicker-upload">Upload</button>
      </label>

      <figure class="profile-pic-upload">
        <img src="<%= user.escape("image_url") %>">
      </figure>
    </fieldset>
  </div>

  <% if (!user.get("isDemoUser")) { %>
    <div class="form-section">
      <h3>Update Your Email</h3>

      <fieldset>
        <label for="user_email">Email</label>
        <input id="user_email"
               class="form-input"
               type="email"
               name="user[email]"
               value="<%= user.escape("email") %>">
      </fieldset>
    </div>

    <div class="form-section">
      <h3>Update Your Password</h3>

      <fieldset>
        <label for="user_password">Enter your current password</label>
        <input id="user_password"
               class="form-input"
               type="password"
               name="user[password]">
      </fieldset>

      <fieldset>
        <label for="user_new_password">New Password</label>
        <input id="user_new_password"
               class="form-input"
               type="password"
               name="user[new_password]">
      </fieldset>

      <fieldset>
        <label for="user_password_confirmation">Confirm Password</label>
        <input id="user_password_confirmation"
               class="form-input"
               type="password"
               name="user[password_confirmation]">
      </fieldset>
    </div>
  <% } %>

  <div class="button-wrapper">
    <button class="submit-button">Update Profile</button>
  </div>

  <ul class="errors"></ul>
</form>