<h1>Upload a Profile Pic!</h1>

<form class="edit-facebook-user">
  <fieldset>
    <input id="user_image" type="file">

    <figure class="profile-pic-upload">
      <img id="user_image_url" src="">
    </figure>
  </fieldset>

  <div class="button-wrapper">
    <button class="submit-button skip-button">Skip</button>
    <button class="submit-button">Save</button>
  </div>
</form>
