<header>
  <ul class="image-tiles group">
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
  </ul>

  <figure>
    <img id="user-image" src="<%= user.escape("image_url") %>">
  </figure>

  <h1><%= user.escape("username") %></h1>

  <p class="watching icon-watchlist">
    Watching <%= Utils.pluralize(user.get("watch_count"), "show") %>
  </p>

  <p class="favorites icon-full-heart">
    <%= Utils.pluralize(user.get("favorite_count"), "favorite show") %>
  </p>

  <button type="button" class="follow"></button>

  <% if (user.get("is_current_user")) { %>
    <a class="admin-edit" href="#/user/edit">Edit</a>
  <% } %>
</header>

<form class="inner-nav">
  <fieldset>
    <input id="Watchlists" type="radio" name="goTo" value="Watchlists">
    <label for="Watchlists">Watchlists</label>
  </fieldset>

  <fieldset>
    <input id="Followers" type="radio" name="goTo" value="Followers">
    <label for="Followers">Followers</label>
  </fieldset>
</form>

<section class="lists main-content"></section>
