<h1>Search Results</h1>

<form id="sort-search">
  <label for="search_sort_by">Sort by:</label>
  <select id="search_sort_by" name="sort">
    <option></option>

    <% ["A-Z", "Rating"].forEach(function (comparator) { %>
      <option value="<%= comparator %>"><%= comparator %></option>
    <% }) %>
  </select>

  <button>Go</button>
</form>

<% if (twoPlyResults) { %>
  <article class="results">
    <h2>TV Show Results</h2>

    <% if (results.tvResults.length) { %>
      <ul class="tv-results group"></ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

  <article class="results">
    <h2>User Results</h2>

    <% if (results.userResults.length) { %>
      <ul class="user-results group"></ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

<% } else if (results && results.length) { %>
  <ul class="tv-results group"></ul>
<% } else { %>
  <p class="none">No results!</p>
<% } %>
