<h1>Search Results</h1>

<% if (results && results.text) { %>
  <article class="results">
    <h2>TV Show Results</h2>

    <% if (results.tvResults.length) { %>
      <ul class="tv-results group">
        <% _(results.tvResults).each(function (tv) { %>
          <%= tvResult({ tv: tv }) %>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

  <article class="results">
    <h2>User Results</h2>

    <% if (results.userResults.length) { %>
      <ul class="user-results group">
        <% _(results.userResults).each(function (user) { %>
          <%= userResult({ user: user }) %>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

<% } else if (results && results.length) { %>
  <ul class="tv-results group">
    <% _(results).each(function (tv) { %>
      <%= tvResult({ tv: tv }) %>
    <% }) %>
  </ul>
<% } else { %>
  <p class="none">No results!</p>
<% } %>
