<h1>Search Results</h1>

<% if (results && results.text) { %>
  <h2>TV Show Results</h2>

  <% if (results.tvResults.length) { %>
    <ul class="results">
      <% _(results.tvResults).each(function (tv) { %>
        <%= tvResult({ tv: tv }) %>
      <% }) %>
    </ul>
  <% } else { %>
    No results!
  <% } %>

  <h2>User Results</h2>

  <% if (results.userResults.length) { %>
    <ul>
      <% _(results.userResults).each(function (user) { %>
        <li><a href="#/users/<%= user.username %>"><%= user.username %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    No results!
  <% } %>

<% } else if (results && results.length) { %>
  <ul class="results">
    <% _(results).each(function (tv) { %>
      <%= tvResult({ tv: tv }) %>
    <% }) %>
  </ul>
<% } else { %>
  No results!
<% } %>
