<h1>Search Results</h1>

<form class="inner-nav">
  <h3>Sort by</h3>

  <fieldset>
    <input id="sort_by_alpha" type="radio" name="sort" value="alpha">
    <label for="sort_by_alpha">A - Z</label>
  </fieldset>

  <fieldset>
    <input id="sort_by_rating" type="radio" name="sort" value="rating">
    <label for="sort_by_rating">Rating</label>
  </fieldset>
</form>

<% if (showUsers) { %>
  <article class="results">
    <h2>TV Show Results</h2>

    <% if (tvResults.length) { %>
      <ul class="tv-results group"></ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

  <article class="results">
    <h2>User Results</h2>

    <% if (userResults.length) { %>
      <ul class="user-results group"></ul>
    <% } else { %>
      <p class="none">No results!</p>
    <% } %>
  </article>

<% } else if (tvResults.length) { %>
  <ul class="tv-results group"></ul>
<% } else { %>
  <p class="none">No results!</p>
<% } %>
