<% var idolCount = watchers.length %>

<h3>
  <% if (watchers[0] &&
    watchers[0].get("username") === Clickster.currentUser.get("username")) { %>
    You and
    <% idolCount-- %>
  <% } %>

  <%= idolCount %> of your idols
  <%= Utils.pluralizeVerb(watchers.length, status) %> this.
</h3>