<a class="image-block" href="#/tv/<%= tvId %>">
  <img src="<%= tv.escape("image_url") %>">
</a>

<h3><a href="#/tv/<%= tvId %>"><%= tv.escape("title") %></a></h3>

<strong class="watchlist"></strong>
<strong class="favorite icon-full-heart"></strong>