<a class="image-block" href="#/tv/<%= tv.id %>">
  <img src="<%= tv.escape("mini_image_url") %>">
</a>

<h3><a href="#/tv/<%= tv.id %>"><%= tv.escape("title") %></a></h3>

<strong class="watchlist"></strong>
<strong class="favorite icon-full-heart"></strong>