<h1>Add a Series</h1>

<form class="new-imdb-tv">
  <h2>Autocomplete from IMDB</h2>
  <input type="text"
         class="form-input"
         name="title"
         placeholder="Series Title">

  <div class="button-wrapper">
    <button class="submit-button">Autocomplete Form</button>
  </div>

  <p class="search-status"></p>
</form>
