<ul class="dropdown group">
  <li><a class="nav-link" href="#"><h2>Home</h2></a></li>

  <% if (isAdmin) { %>
    <li><a class="nav-link" href="#/tv/new"><h2>Add a Series</h2></a></li>
    <li><a class="nav-link" href="#/tv"><h2>My Series</h2></a></li>
  <% } %>

  <li>
    <a class="nav-link"
       href="<%= Qliqster.currentUser.publicUrl() %>">
      <h2>My Profile</h2>
    </a>
  </li>

  <li>
    <form id="sign-out" action="/session" method="post">
      <input type="hidden" name="authenticity_token">
      <input type="hidden" name="_method" value="delete">
      <button class="nav-link"><h2>Sign Out</h2></button>
    </form>
  </li>
</ul>
