<h1><a class="logo" href="#">Qliqster</a></h1>

<ul class="links group">
  <li class="nav-link surf">
    <button class="nav open-search icon-search" type="button"></button>
    <a class="nav" href="javascript:void(0)">Surf</a>
  </li>

  <% if (signedIn) { %>
    <li class="nav-link profile">
      <button class="nav profile-button" type="button"></button>
      <a class="nav" href="<%= user.publicUrl() %>">
        <%= user.escape("username").split(" ")[0] %>
      </a>
    </li>
  <% } %>

  <li class="nav-link guide">
    <button class="tv-hamburger"><span class="antenna"></span></button>
    <a class="nav" href="javascript:void(0)">
      <% if (signedIn) { %>
        Guide
      <% } else { %>
        Sign In
      <% } %>
    </a>
  </li>
</ul>

<article class="pop-out">
  <div class="nav-triangle"></div>
</article>
