<ul class="links group">
  <li>
    <button id="open-search" class="nav"><span class="antenna"></span></button>
  </li>

  <% if (signedIn) { %>
    <li>
      <button id="open-dropdown" class="nav"></button>
    </li>
  <% } else { %>
    <li>
      <button id="sign-in-button" class="nav"></button>
    </li>
  <% } %>
</ul>

<article class="pop-out">
  <div class="nav-triangle"></div>
</article>
