<h1><a class="logo" href="#">Clickster</a></h1>

<ul class="links group">
  <li class="surf">
    <button class="nav open-search" type="button"></button>
    <a class="nav" href="javascript:void(0)">Surf</a>
  </li>

  <% if (signedIn) { %>
    <% var username = Clickster.currentUser.escape("username") %>
    <% var url = "#/users/" + username %>

    <li class="profile">
      <button class="nav profile-button" type="button"></button>
      <a class="nav" href="<%= url %>"><%= username %></a>
    </li>
  <% } %>

  <li class="guide">
    <button class="tv-hamburger"><span class="antenna"></span></button>
    <a class="nav" href="javascript:void(0)">
      <% if (signedIn) { %>
        Guide
      <% } else { %>
        Sign In
      <% } %>
    </a>
  </li>
</ul>

<article class="pop-out">
  <div class="nav-triangle"></div>
</article>
