<h1><a href="#">Clickster</a></h1>

<ul class="links group">
  <li>
    <button id="open-search" class="nav"></button>
  </li>

  <li>
    <button class="tv-hamburger">
      <span class="antenna"></span>
    </button>
  </li>
</ul>

<article class="pop-out">
  <div class="nav-triangle"></div>
</article>
