<% var action; %>

<% if (newUser) { %>
  <% action = '/api/users' %>
  <% text = 'Up' %>
<% } else { %>
  <% text = "In" %>
  <% action = '/api/session' %>
<% } %>

<form class="sign-in" action="<%= action %>" method="post">
  <% if (signedIn) { %>
    <p>You are already signed in!</p>
  <% } else { %>
    <button class='link toggle sign-in-link'>Sign In</button>
    <button class='link toggle sign-up-link'>New User</button>

    <ul class='errors'></ul>

    <% if (newUser) { %>
      <fieldset>
        <label for="user_email">Email</label>
        <input class="first"
               id="user_email"
               type="email"
               name="user[email]"
               autocomplete="off"
               autocapitalize="off">
      </fieldset>

      <fieldset>
        <label for="user_username">Username</label>
        <input id="user_username"
               type="text"
               name="user[username]"
               autocomplete="off"
               autocapitalize="off">
      </fieldset>
    <% } else { %>
      <fieldset>
        <label for="user_identifier">Username or Email</label>
        <input class="first"
               id="user_identifier"
               type="text"
               name="user[identifier]"
               autocomplete="off"
               autocapitalize="off">
      </fieldset>
    <% } %>

    <fieldset>
      <label for="user_password">Password</label>
      <input id="user_password" type="password" name="user[password]">
    </fieldset>

    <button class="login">Sign <%= text %></button>
    <a class="facebook-login" href="/auth/facebook">
      Sign <%= text %> with Facebook
    </a>
  <% } %>
</form>
