$button_color: #003249;
$shadow: #333;

// NAV
//$header_color: #e09891;
$header_color: #5c0029;
$nav_link_color: #fff;
$nav_link_hover: #8e294e;
$not_signed_in: #E8CFC7;

// GENRES
$genre_color: #4da1a9;
$genre_hover: #3C9199;

// TV CARDS
$image-overlay: rgba(30, 30, 30, 0.5);

// STATUSES
$watchlist_color: #22a7f0;
$watchlist_button: "\1F4BB";
$favorite_color: #d64541;
$favorite_button: "\2665";

// ADMIN
$edit_button: #611c35;