$header_color: #e09891;
$nav_link_color: #fff;
$header_block_hover: #e8b9ab;
$not_signed_in: #E8CFC7;

// TV CARDS
$image-overlay: rgba(30, 30, 30, 0.5);

// STATUSES
$watchlist_button: #22a7f0;
$favorite_button: #d64541;