/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require entypo
 *= require_tree .
 */

@import "utils/variables";

html, body, h1, h2, h3, h4, form, fieldset, ul, li, section, article, div,
input, button, textarea, p, a, main, figure, figcaption, label, b, strong,
select, aside, dl, dt, dd, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
}

input, button, textarea, select {
  display: inline-block;
  width: auto;
  color: inherit;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: content-box;
}

button {
  vertical-align: baseline;
  cursor: pointer;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  background: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

button, .button {
  color: #fff;
  background: $button_color;
  border-radius: 3px;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.link {
  color: inherit;
  background: transparent;
  border-radius: 0;
}

@media (min-width: 500px) {
  button:hover {
    background: #000;
  }

  .link:hover {
    background: none;
  }
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;

  @media (min-width: 500px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.9;
}

ul.errors {
  margin: 20px 0;
  color: #f00;
}

p.error {
  color: #f00;
}

.hide {
  display: none !important;
}

// BANNER
.banner {
  display: block;
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #ccc;
  border-bottom: 1px solid #000;
  z-index: 1000;
  transition: top 0.5s;

  &.show {
    top: 0;
  }
}

/* MAIN CONTAINER */
main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transition: left 0.5s;
}

main.open {
  left: 300px;
  box-shadow: -5px 0 5px #47464F;
}

/* CONTENT CONTAINER */
section.main {
  width: 100%;

  > div {
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box;
  }

  @media (min-width: 500px) {
    > div {
      max-width: 1000px;
      margin: auto;
      padding: 50px;
    }
  }

  > div.max {
    max-width: none;
    padding: 0;

    .main-content {
      max-width: 1000px - 60px;
      margin: auto;
      padding: 30px;
    }
  }
}

// SEARCH RESULT CONTAINERS
article.results {
  margin: 50px 0;

  p.none {
    margin: 30px 0;
  }
}

article.results:nth-of-type(1) {
  border-bottom: 1px solid #eee;
}

// NOT FOUND
.not-found {
  text-align: center;
}

// SUB NAV
form.inner-nav {
  display: block;
  text-align: center;

  &.small {
    text-align: left;
    font-size: 12px;
  }

  > h3 {
    font-weight: 300;
  }

  > fieldset {
    display: inline-block;
  }

  input[type="radio"] {
    position: absolute;
    top: -100px;
    opacity: 0;

    &:checked + label {
      color: #fff;
      background: $genre_color;
    }
  }

  label {
    display: block;
    padding: 5px 10px;
    color: #eee;
    background: #ccc;
    cursor: pointer;

    &:hover {
      background: #888;
    }
  }

  select {
    position: relative;
    z-index: 1;

    display: block;
    padding: 5px 10px;
    padding-right: 20px;
    color: #fff;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
  }

  .select-wrapper {
    position: relative;
    color: #fff;
    background: $genre_color;

    > .illusion {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;

      &:after {
        content: "\25BE";
        position: absolute;
        top: 3px;
        right: 6px;
      }
    }
  }
}

// FOOTER
footer {
  width: 100%;
  text-align: center;
  color: #f7f7f7;
  background: $header_color;
}

.footer-info {
  width: 100%;
  padding: 50px 30px;
  box-sizing: border-box;

  @media (min-width: 500px) {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
  }

  > small {
    display: block;
    margin: 20px 0;
    font-size: 14px;
  }

  a {
    font-weight: 700;

    &:hover {
      border-bottom-color: $nav_link_hover;
    }
  }
}