/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, form, fieldset, ul, li, section, article, div, input, button, textarea, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
}

input, button, textarea {
  display: inline-block;
  width: auto;
  color: inherit;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: content-box;
}

button {
  vertical-align: baseline;
  cursor: pointer;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.errors {
  margin: 20px 0;
  color: #f00;
}

p.error {
  color: #f00;
}
