$image-overlay: rgba(30, 30, 30, 0.5);

h3 {
  font-weight: 700;
  font-size: 18px;
}

a.image-block {
  display: block;
  background: $image-overlay;
  overflow: hidden;
}

ul.tv-results {
  margin-bottom: 50px;

  @media (min-width: 500px) {
    margin-top: 30px;
  }
}

// TV RESULT CARD
ul.tv-results > li {
  position: relative;
  width: 100%;
  height: 130px;
  margin: 30px 0;
  box-shadow: 0 1px 2px 1px #ccc;

  a.image-block {
    float: left;
    width: 100px;
    height: 100%;
    background-size: cover;
  }

  div.content {
    float: left;
    display: block;
    width: calc(100% - 140px);
    height: calc(100% - 20px);
    padding: 10px 20px;
  }

  div.title {
    display: block;
    padding: 10px 0;
  }

  h3 {
    display: inline;
    line-height: 1;
  }

  h4 {
    display: inline;
    margin-left: 3px;
  }

  h4:before {
    content: "/";
    margin-right: 5px;
    font-size: 14px;
  }

  small {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }

  a.cover {
    display: none;
  }

  @media (min-width: 500px) {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 25px;
    float: left;

    a.image-block {
      float: initial;
      width: 100%;
    }

    cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    div.content {
      @extend cover;

      float: initial;
      padding: 30px;
      box-sizing: border-box;
      cursor: pointer;
    }

    div.title {
      position: absolute;
      bottom: 30px;
      right: 0;
      padding: 0;
      text-align: right;
    }

    h3 {
      display: block;
      padding: 10px;
      z-index: 1;
      background: #000;
      color: #fff;
    }

    h4 {
      @extend h3;

      display: inline-block;
      margin: 0;
      margin-top: 5px;
      padding: 5px 8px 5px 10px;
      font-size: 18px;
    }

    h4:before {
      content: none;
    }

    small {
      font-size: 14px;
    }

    p {
      display: none;
      position: absolute;
      top: 30px;
      left: 30px;
      float: initial;
      width: calc(100% - 60px);
      font-size: 16px;
      line-height: 1.8;
      text-shadow: #000 1px 1px 3px;
      color: #fff;
    }

    &:hover {
      div.content {
        display: block;
        background: rgba(30, 30, 30, 0.7);
      }

      p {
        display: block;
      }

      a.cover {
        @extend cover;

        display: block;
        z-index: 2;
      }
    }
  }
}

// STATUS BUTTONS
ul.tv-results .buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100px;
  font-size: 28px;
  line-height: 0.6;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  button {
//    background: #;
  }

  button:before {
    font-family: "Entypo";
  }

  .watchlist:before {
    content: "\1F4BB";
  }

  .favorite:before {
    content: "\2665";
  }

  .is-favorite:before {
    content: "\2665";
  }

  .statuses {
    display: none;
  }
}

// USER RESULT CARD
ul.user-results > li {
  float: left;
  width: 120px;
  height: 170px;
  margin: 30px 15px;

  a.image-block {
    width: 100px;
    height: 100px;
    border: 10px solid #fff;
    border-radius: 60px;
    box-shadow: 0 1px 2px 1px #ccc;
  }

  img {
    width: 100%;
    height: auto;
  }

  div.content {
    display: block;
    text-align: center;
  }

  h3 {
    padding: 5px 0;
  }

  ul.stats > li {
    display: inline-block;
    margin-right: 10px;
  }

  ul.stats > li:before {
    margin-right: 5px;
  }
}

// TV MINI CARD
ul.tv-cards > li {
  float: left;
  width: 120px;
  height: 160px;
  margin: 5px;

  a.image-block {
    width: 120px;
    height: 120px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h3 {
    font-weight: 300;
    font-size: 12px;
  }
}