@import "utils/variables";

h3 {
  font-weight: 700;
  font-size: 18px;
}

a.image-block {
  display: block;
  background: $image-overlay;
  overflow: hidden;
}

ul.tv-results {
  margin-bottom: 50px;

  @media (min-width: 500px) {
    margin-top: 30px;
  }
}

// TV RESULT CARD
ul.tv-results > li {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 30px 0;
  box-shadow: 0 1px 2px 1px #ccc;
  overflow: hidden;

  a.image-block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0 -30px;
  }

  div.content {
    position: absolute;
    top: 111px;
    left: 0;
    display: block;
    width: 100%;
    height: 160px;
    text-align: left;
    box-sizing: border-box;
    background: rgba(30, 30, 30, 0.7);
    transition: top 0.5s;
  }

  div.title {
    display: block;
    padding: 15px 20px;
    width: calc(100% - 40px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 -1px 5px #aaa;
  }

  div.content.open {
    top: 0;

    div.title {
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
    }
  }

  h3 {
    display: inline;
    line-height: 1;
  }

  h4 {
    display: inline;
    margin-left: 3px;
  }

  h4:before {
    content: "/";
    margin-right: 5px;
    font-size: 14px;
  }

  small {
    font-size: 12px;
  }

  p {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: #000 1px 1px 3px;
    color: #fff;
  }

  a.cover {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 111px;
  }

  @media (min-width: 500px) {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 25px;
    float: left;

    a.image-block {
      float: initial;
      width: 100%;
      background-position: 0 0;
    }

    a.cover {
      display: none;
    }

    cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 40px);
    }

    div.content {
      @extend cover;

      float: initial;
      padding: 30px;
      padding-bottom: 0;
      box-sizing: border-box;
      background: none;
      cursor: pointer;

      &:hover {
        display: block;
        background: rgba(30, 30, 30, 0.7);

        p {
          display: block;
        }

        a.cover {
          @extend cover;

          display: block;
          z-index: 2;
        }

        div.title {
          display: block;
        }
      }
    }

    div.title {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 0;
      width: auto;
      padding: 0;
      text-align: right;
      white-space: normal;
      background: none;
      box-shadow: none;
    }

    h3 {
      display: block;
      padding: 10px;
      z-index: 1;
      background: #000;
      color: #fff;
    }

    h4 {
      @extend h3;

      display: inline-block;
      margin: 0;
      margin-top: 5px;
      padding: 5px 8px 5px 10px;
      font-size: 18px;
    }

    h4:before {
      content: none;
    }

    small {
      font-size: 14px;
    }

    p {
      display: none;
      position: absolute;
      top: 15px;
      left: 10px;
      float: initial;
      width: calc(100% - 60px);
      font-size: 16px;
      line-height: 1.8;
      text-shadow: #000 1px 1px 3px;
      color: #fff;
    }
  }
}

// STATUS BUTTONS
ul.tv-results .buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #eee;

  li {
    position: relative;
    float: left;
    width: 50%;
    padding: 9px 0 7px 0;
    font-size: 40px;
    line-height: 0.6;
    cursor: pointer;
  }

  li:before {
    display: block;
    font-family: "Entypo";
    color: #aaa;
  }

  .watchlist:before {
    content: "\1F4BB";
  }

  .favorite:before {
    content: "\2665";
  }

  .on-watchlist:before {
    color: $watchlist_button;
  }

  .is-favorite:before {
    color: $favorite_button;
  }

  .statuses {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -50px;
    width: 120px;
    background: #ccc;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 1px 3px #888;

    li {
      width: 100px;
      padding: 8px 10px;
      font-size: 16px;
      line-height: initial;
      text-align: left;
    }

    li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .choose {
      color: #fff;
      background: #000;
    }

    @media (min-width: 500px) {
      li:hover {
        color: #fff;
        background: #000;
      }
    }

    &.show {
      display: block;
    }

    &.show:before {
      position: absolute;
      bottom: -10px;
      left: 40px;
      content: "";
      width: 0;
      border: 10px solid #ccc;
      border-bottom: 0;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}

// USER RESULT CARD
ul.user-results > li {
  float: left;
  width: 120px;
  height: 170px;
  margin: 30px 15px;

  a.image-block {
    width: 100px;
    height: 100px;
    border: 10px solid #fff;
    border-radius: 60px;
    box-shadow: 0 1px 2px 1px #ccc;
  }

  img {
    width: 100%;
    height: auto;
  }

  div.content {
    display: block;
    text-align: center;
  }

  h3 {
    padding: 5px 0;
  }

  ul.stats > li {
    display: inline-block;
    margin-right: 10px;
  }

  ul.stats > li:before {
    margin-right: 5px;
  }
}

// TV MINI CARD
ul.tv-cards > li {
  float: left;
  width: 120px;
  height: 160px;
  margin: 5px;

  a.image-block {
    width: 120px;
    height: 120px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h3 {
    padding: 3px 1px;
    font-weight: 300;
    font-size: 12px;
  }
}