@import "utils/variables";

.splash {
  font-size: 20px;
}

.home-section {
  margin-bottom: 50px;
}

.feed-wrapper {
  width: 100%;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: 500px) {
    max-height: 130px;
  }
}

.feed {
  li {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 0 3px #eee;
    box-sizing: border-box;
  }

  p {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  a {
    font-weight: 700;
  }

  time {
    display: block;
    font-size: 12px;
    color: #ccc;
  }

  @media (min-width: 500px) {
    li {
      width: 158px;
      height: 68px;
      float: left;
      margin: 10px;
      padding: 20px;
      box-sizing: content-box;
    }
  }
}

.feed-item-link {
  &:hover {
    border-bottom-color: $not_signed_in;
  }
}