@import "utils/variables";

// HEADER
main > header {
  position: relative;
  width: 100%;
  background: $header_color;
  box-shadow: 0 1px 3px $shadow;
  z-index: 1;

  &.open-search {
    position: initial;
    z-index: initial;
  }
}

/* NAV */
nav {
  width: 100%;

  &.relative {
    position: relative;
  }

  h1 {
    display: block;
    position: relative;
    float: left;
    margin: 22px 0 16px 30px;
    font-size: 28px;
  }

  h1 > a {
    color: $nav_link_color;
  }

  .links {
    position: relative;
    float: right;
    height: 75px;
    margin-right: 20px;

    > li {
      position: relative;
      float: left;
      width: 50px;
      height: 100%;
      margin-left: 10px;
      cursor: pointer;
    }

    a.nav {
      display: none;
    }
  }
}

@media (min-width: 500px) {
  nav {
    max-width: 1000px;
    margin: auto;

    h1 {
      margin: 16px 30px;
      font-size: 32px;
    }

    .links {
      > li {
        width: 70px;
        margin: 0;
      }

      > li.profile {
        display: block;
      }

      > li:hover {
        background: $nav_link_hover;
      }

      a.cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 21;
      }

      a.nav {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        font-size: 12px;
        color: $nav_link_color;
        text-align: center;
      }

      button, button:hover {
        background-color: transparent;
      }
    }
  }
}

button.nav {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  color: $nav_link_color;
  background: none;
  z-index: 20;
}

button.nav:before {
  position: absolute;
  left: 0;
  font-size: 40px;
}

button.open-search:before {
  margin: 0;
}

button.profile-button {
  top: 18px;
  border-radius: 20px;
  background-size: cover;
}

button.profile-button:before {
  top: 0;
  margin: 0;
}

@media (min-width: 500px) {
  button.nav {
    width: 30px;
    height: 30px;
  }

  button.nav:before {
    font-size: 36px;
  }

  button.open-search:before {
    top: 11px;
    left: -4px;
  }

  button.profile-button {
    top: 13px;
    border-radius: 15px;
    background-size: cover;
  }

  button.profile-button:before {
    top: -3px;
    left: -3px;
  }
}

/* TV HAMBURGER ICON */
button.tv-hamburger {
  display: block;
  margin: auto;
  position: relative;
  top: 30px;
  width: 30px;
  height: 15px;
  border: 5px solid $not_signed_in;
  border-left: 0;
  border-right: 0;
  background: none;
  cursor: pointer;
  z-index: 20;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 5px;
    background: $not_signed_in;
  }

  // antennas
  &:before,
  > span.antenna {
    position: absolute;
    width: 0;
    height: 5px;
    top: -15px;
    border: 3px solid $not_signed_in;
    border-radius: 3px;
  }

  &:before {
    content: "";
    left: 6px;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
  }

  > span.antenna {
    left: 18px;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
  }

  &.signed-in {
    border-color: $nav_link_color;

    &:after {
      background: $nav_link_color;
    }

    &:before, span.antenna {
      border-color: $nav_link_color;
    }
  }
}

@media (min-width: 500px) {
  button.nav,
  button.tv-hamburger {
    z-index: 14;
  }

  // TV HAMBURGER
  button.tv-hamburger {
    top: 22px;
    width: 24px;
    height: 12px;
    border-width: 4px;
    border-radius: 2px;

    &:after {
      top: 4px;
      width: 24px;
      height: 4px;
    }

    // antennas
    &:before,
    > span.antenna {
      height: 5px;
      top: -13px;
      border-width: 3px;
      border-radius: 3px;
    }

    &:before {
      content: "";
      left: 5px;
      -webkit-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
      transform: skewX(30deg);
    }

    > span.antenna {
      left: 13px;
      -webkit-transform: skewX(-30deg);
      -ms-transform: skewX(-30deg);
      transform: skewX(-30deg);
    }
  }
}

// POP OUT CONTAINER
article.pop-out {
  display: none;
}

article.pop-out.search,
article.pop-out.sign-in,
article.pop-out.dropdown {
  display: block;
  position: absolute;
  top: 85px;
  right: 2.5%;
  width: 95%;
  height: 83%;
  font-size: 20px;
  background: #eee;
  z-index: 50;
  box-shadow: 0px 5px 10px rgba(109, 109, 109, 0.7);

  div.content {
    width: 90%;
    height: 100%;
    padding: 0 5%;
    overflow: auto;
  }
}

article.pop-out.sign-in {
  height: 550px;
}

div.cover {
  display: none;
}

@media (min-width: 500px) {
  article.pop-out.search {
    width: 25%;
    min-width: 400px;
    height: 100%;
    top: 0;
    left: calc(-400px - 25%);
    box-shadow: 2px 0px 10px rgba(109, 109, 109, 0.7);
    transition: left 0.5s;
  }

  article.pop-out.search.transition {
    left: 0;
  }

  main.cover {
    overflow: hidden;
  }

  main.cover > div.cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(109, 109, 109, 0.5);
    z-index: 49;
  }
}

div.nav-triangle {
  position: absolute;
  top: -25px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #eee;
}

article.pop-out.search {
  > div.nav-triangle {
    right: calc(85px - 2.5%);
  }

  > div.nav-triangle.signed-in {
    right: calc(145px - 2.5%);
  }

  @media (min-width: 500px) {
    > div.nav-triangle {
      display: none;
    }
  }
}

article.pop-out.sign-in,
article.pop-out.dropdown {
  > div.nav-triangle {
    right: calc(45px - 2.5%);
    margin-right: -20px;
  }
}

article.pop-out.dropdown {
  display: inline-block;
  height: auto;
}

@media (min-width: 500px) {
  article.pop-out.sign-in,
  article.pop-out.dropdown {
    right: 10px;

    > div.nav-triangle {
      right: 45px;
    }
  }

  article.pop-out.sign-in {
    width: 400px;
  }

  article.pop-out.dropdown {
    width: 250px;
  }
}

ul.dropdown {
  display: block;
  width: 90%;
  padding: 30px 5%;

  > li {
    width: 100%;
    border-bottom: 1px solid #000;
  }

  a {
    display: block;
    padding: 10px;
    color: #000;
  }

  button {
    @extend a;

    width: calc(100% - 19px); // why is there an extra 1px margin-right???
    text-align: left;
    color: #000;
    background: none;
  }

  .touch {
    color: #fff;
    background: #000;
    border-radius: 0;
  }
}

@media (min-width: 500px) {
  ul.dropdown {
    a:hover, button:hover {
      color: #fff;
      background: #000;
      border-radius: 0;
    }

    h2 {
      font-size: 30px;
    }
  }
}
