.scale-and-fade {
  &.position {
    position: relative;
    z-index: -1;
  }

  > .to-scale {
    position: absolute !important;
    top: 0;
    left: 0;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.7s;
    z-index: 0;

    &.scale {
      display: block;
      transform: scale(1.5);
      opacity: 0;
    }
  }
}