.sign-in-container {
  display: block;
  width: 300px;
  margin: auto;
  padding: 30px 0;
  text-align: center;

  // SIGN IN BUTTONS
  .login-button {
    display: block;
    width: 260px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      padding-top: 12px;
      padding-bottom: 8px;
    }
  }

  .login, .demo-login {
    background: #EFAE78;
  }

  .facebook-login {
    margin: 5px 0;
    background: #3b5998;
  }

  .demo-login {
    margin: 5px 0;
    text-transform: uppercase;
  }
}

/* SIGN IN FORM */
form.sign-in-form {
  padding: 30px 0;

  > h2 {

  }

  > fieldset {
    margin: 20px 0;
  }

  label {
    display: block;
    font-size: 16px;
  }

  input {
    width: 290px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: #495A66;
    border-bottom: 1px solid #495A66;
  }
}

// SIGN IN TOGGLE LINK
.toggle {
  display: inline-block;
  font-size: 16px;

  &:hover {
    border-bottom: 1px solid #FF0066;
  }
}
