.tv-forms h2 {
  font-size: 32px;
  line-height: initial;
}

.tv-forms form {
  margin: 50px 0;
  font-size: 20px;
}

.tv-forms input[type=text],
.tv-forms input[type=number],
.tv-forms textarea,
.tv-forms select {
  display: block;
  width: 95%;
  padding: 2.5%;
  background: #e7e7e7;
  border-radius: 3px;
}

@media (min-width: 500px) {
  .tv-forms input[type=text],
  .tv-forms input[type=number],
  .tv-forms textarea,
  .tv-forms select {
    display: inline-block;
    padding: 10px 5px;
  }
}

.tv-forms button {
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 15px;
}

.tv-forms button:active {
  padding-top: 6px;
  padding-bottom: 4px;
}

/* AUTOCOMPLETE FORM */
form.new-imdb-tv > input {
  margin: 15px 0;
}

@media (min-width: 500px) {
  form.new-imdb-tv > input {
    width: 490px;
  }
}

/* NEW FORM */
@media (min-width: 500px) {
  form.new-tv {
    width: 400px;
  }

  form.new-tv input[type=text],
  form.new-tv input[type=number],
  form.new-tv textarea,
  form.new-tv select {
    width: 390px;
  }
}

form.new-tv > fieldset {
  margin: 15px 0;
}

form.new-tv > fieldset > label,
form.new-tv > fieldset > strong {
  display: block;
}

form.new-tv > fieldset.error > label {
  color: #f00;
}

form.new-tv > fieldset > label > small {
  display: block;
  font-size: 16px;
}

form.new-tv > fieldset.error > input[type=text],
form.new-tv > fieldset.error > input[type=number],
form.new-tv > fieldset.error > select {
  border: 1px solid #f00;
}

@media (min-width: 500px) {
  form.new-tv > fieldset.error > input[type=text],
  form.new-tv > fieldset.error > input[type=number],
  form.new-tv > fieldset.error > select {
    padding: 4px;
  }
}

form.new-tv label[for=tv_show_image_url] {
  margin-right: 5px;
  margin-bottom: 5px;
}

form.new-tv img.tv_show_image {
  display: block;
  width: auto;
  max-width: 400px;
  max-height: 300px;
  margin: auto;
}

form.new-tv .filepicker-upload {
  padding: 4px 8px;
  font-weight: 700;
  font-size: 12px;
}

form.new-tv textarea {
  height: 90px;
}

form.new-tv .genres > li {
  float: left;
  margin: 10px 5px;
}

form.new-tv .genres > li > input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -20px;
}

form.new-tv .genres label {
  font-size: 18px;
  background: #eee;
}
