section#main > .tv-show {
  padding: 0;

  .image-block {
    width: 100%;
    position: relative;
    height: 400px;
    background-size: cover;
    overflow: hidden;
    transition: background-position 0.5s;
  }

  .image-block > div.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.5);
  }

  .image-block > a.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    background: #888;
    border-radius: 15px;
    border: 1px solid #999;
  }

  .image-block > a.edit:before {
    content: "\1F511";
    margin-right: 3px;
    font-family: 'Entypo';
    font-size: 23px;
    font-weight: normal;
  }

  .image-block > div.content {
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 20px;

    figcaption {
      margin-left: 5px;
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.1;
      color: #fff;
    }

    ul.genres {
      display: block;
    }

    ul.genres > li {
      float: left;
      margin: 4px;
    }

    ul.genres > li > a {
      display: inline-block;
      padding: 5px 10px;
      font-size: 14px;
      color: #fff;
      background: #666;
      border: 1px solid #888;
      border-radius: 15px;
    }
  }
}

.tv-show > .options {
  display: block;
  position: relative;
  top: -30px;
  width: 95%;
  height: 70px;
  margin: auto;
  overflow: hidden;

  > ul {
    width: 100%;
    position: relative;
    top: 0;
    transition: top 0.5s;
  }

  > ul.show {
    top: -71px;
  }

  li {
    position: relative;
    float: left;
    height: 70px;
    padding-top: 37px;
    text-align: center;
    color: #ccc;
    background: #888;
    cursor: pointer;
    box-sizing: border-box;
  }

  li.button {
    width: 50%;
    height: 71px;
    border-bottom: 1px solid #ccc;
  }

  li.button:before {
    display: block;
    position: absolute;
    top: 1px;
    width: 100%;
    font-family: "Entypo";
    font-size: 45px;
  }

  li.watchlist:before {
    content: "\2795";
  }

  li.favorite:before {
    content: "\2661";
  }

  li.favorite {
    width: calc(50% - 1px);
    border-left: 1px solid #ccc;
  }

  li.list {
    width: 25%;
    font-size: 12px;
    padding-top: 39px;
  }

  li.list ~ li.list {
    width: calc(25% - 1px);
    border-left: 1px solid #ccc;
  }

  li.list:before,
  li.list > strong:before {
    display: block;
    position: absolute;
    top: 3px;
    width: 100%;
    font-family: "Entypo";
    font-size: 45px;
  }

  li.list:before {
    z-index: 1;
  }

  li[data-option='Watching']:before,
  li[data-option='Watching'] > strong:before {
    content: "\2016";
  }

  li[data-option='Plan to Watch']:before,
  li[data-option='Plan to Watch'] > strong:before {
    content: "\25B6";
  }

  li[data-option='Completed']:before,
  li[data-option='Completed'] > strong:before {
    content: "\25A0";
  }

  li[data-option='Dropped']:before,
  li[data-option='Dropped'] > strong:before {
    content: "\23ED";
  }

  li.list > strong:before {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.7s;
    z-index: 0;
  }

  li.list.select > strong:before {
    transform: scale(2);
    opacity: 0;
  }

  li.selected {
    color: #fff;
  }
}

.tv-show > .warning {
  position: relative;
  top: -25px;
  display: block;
  text-align: center;
  font-size: 12px;
  opacity: 0;
  transition: opacity 1s;
}

.tv-show > .warning.show {
  opacity: 1;
}

.tv-show > article.tv-info {
  padding: 30px;
  padding-top: 0;

  ul.info {

  }

  ul.info > li {
    display: block;
    font-size: 22px;
  }

  ul.info label {
    font-size: 16px;
  }

  aside {
    display: block;
    margin: 15px 0;
    text-align: center;
    font-size: 14px;
  }

  p.rating {
    font-size: 32px;
  }
}