@import "utils/variables";

.tv-show {
  .image-block {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .title-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .title {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 20px;

    figcaption {
      margin-left: 5px;
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.1;
      color: #fff;
      text-shadow: #666 3px 3px 5px;
    }

    ul.genres {
      display: block;
    }

    ul.genres > li {
      float: left;
      margin: 4px;
    }

    ul.genres > li > a {
      display: inline-block;
      padding: 7px 10px;
      font-size: 14px;
      color: #fff;
      background: $genre_color;
      border-radius: 15px;

      @media (min-width: 500px) {
        &:hover {
          background: $genre_hover;
        }
      }
    }
  }

  a.admin-edit {
    position: absolute;
    bottom: 333px;
    right: 20px;
    font-size: 24px;
    vertical-align: middle;
  }

  @media (min-width: 500px) {
    .title {
      bottom: 15px;
    }

    a.admin-edit {
      position: static;
      margin-left: 10px;
    }
  }
}

a.admin-edit {
  display: inline-block;
  padding: 4px 10px 3px 10px;
  font-weight: 300;
  color: #fff;
  background: $edit_button;
  box-shadow: 0 1px 3px $shadow;
  text-shadow: none;

  &:before {
    position: relative;
    bottom: 2px;
    margin-left: 0;
    font-size: 16px;
  }

  @media (min-width: 500px) {
    &:hover {
      background: $nav_link_hover;
    }
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 1px;
    right: 0;
  }
}

ul.image-tiles {
  width: 100%;
  height: 100%;

  li {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  li:first-child {
    display: block;
  }

  @media (min-width: 500px) {
    li {
      display: block;
      width: 50%;
    }
  }

  @media (min-width: 700px) {
    li {
      width: 33.3%;
    }
  }

  @media (min-width: 900px) {
    li {
      width: 25%;
    }
  }

  div.cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.5);
  }
}

section.tv-info {
  @media (min-width: 500px) {
    div.wrapper {
      max-width: 800px;
      margin: auto;
    }
  }

  .tv-show-left {
    display: block;
    width: 100%;

    @media (min-width: 500px) {
      float: left;
      width: 67%;
      max-width: 500px;
      padding-right: 15px;
      font-size: 18px;
      box-sizing: border-box;
    }
  }

  ul.statuses {
    position: relative;
    width: 95%;
    margin: auto;

    &:before {
      content: "";
      position: absolute;
      right: 19%;
      width: 1px;
      height: 100%;
      background: #ccc;
    }

    li {
      position: relative;
      float: left;
      width: 20%;
      height: 70px;
      padding-top: 39px;
      font-size: 12px;
      text-align: center;
      color: #ccc;
      cursor: pointer;
      box-sizing: border-box;
    }

    li:before {
      display: block;
      position: absolute;
      top: 3px;
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 36px;
    }
  }

  .warning {
    position: relative;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #f00;
    opacity: 0;
    transition: opacity 1s;
  }

  .warning.show {
    opacity: 1;
  }

  p.blurb {
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .stats {
    width: 75%;
    margin: auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    background: #eee;

    @media (min-width: 500px) {
      float: right;
      width: 33%;
      max-width: 200px;
      margin: 0;
      box-sizing: border-box;
    }

    ul.stats-info {
      line-height: 1.5;
    }

    ul.stats-info > li {
      display: block;
      font-size: 22px;
    }

    ul.stats-info strong {
      font-size: 16px;
    }
  }

  .rating {
    display: block;
    margin: 30px;
    margin-bottom: 0;
    font-size: 22px;
  }

  .stats-label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
  }
}