section#main > .user-show {
  padding: 0;

  > header {
    position: relative;
    width: 100%;
    height: 320px;
    padding-top: 50px;
    text-align: center;
    color: #fff;
    background: rgba(30, 30, 30, 0.5);

    figure {
      width: 150px;
      height: 150px;
      margin: auto;
      overflow: hidden;
      border: 10px solid #fff;
      border-radius: 85px;
    }

    img {
      width: 150px;
      height: auto;
    }

    h1 {
      margin-bottom: 10px;
    }

    p {
      display: block;
      width: 170px;
      margin: auto;
      text-align: left;
    }

    p:before {
      margin: 0 5px;
      font-family: "Entypo";
      font-size: 24px;
    }

    p.watching:before {
      content: "\1F4BB";
    }

    p.favorites:before {
      content: "\2665";
    }
  }
}

.user-show > .lists {
  padding: 30px;

  > .list {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    h2 {
      padding-bottom: 10px;
    }
  }
}


// USER EDIT PAGE
.user-edit > form {
  .form-section {
    margin: 50px 0;
    border-bottom: 1px solid #ccc;
  }

  h3 {
    font-size: 20px;
  }

  fieldset {
    margin: 50px 0;
  }

  label {
    font-size: 14px;
  }

  figure {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 10px solid #ccc;
    border-radius: 60px;
    overflow: hidden;
  }

  img {
    width: 100px;
    height: auto;
  }
}