<ul class="dropdown group">
  <li><a href="#"><h2>Home</h2></a></li>

  <% if (isAdmin) { %>
    <li><a href="#/tv/new"><h2>Add a Series</h2></a></li>
    <li><a href="#/tv"><h2>My Series</h2></a></li>
  <% } %>

  <li>
    <a href="#/users/<%= Clickster.currentUser.id %>"><h2>My Profile</h2></a>
  </li>

  <li>
    <form id="sign-out" action="/session" method="post">
      <input type="hidden"
             name="authenticity_token"
             value="<%= Clickster.formAuth %>">
      <input type="hidden" name="_method" value="delete">
      <button><h2>Sign Out</h2></button>
    </form>
  </li>
</ul>
