<% if (signedIn) { %>
  <article class="home-section">
    <h1>Currently Playing</h1>
    <ul class="feed"></ul>
  </article>
<% } %>

<article class="home-section">
  <h1>Currently Airing</h1>
  <ul class="tv-results group"></ul>
</article>
