<h1>Search Results</h1>

<% if (results) { %>
  <ul>
    <% _(results).each(function (tv) { %>
      <li><a href="#/tv/<%= tv.id %>"><%= tv.title %></a></li>
    <% }) %>
  </ul>
<% } else { %>
  No results!
<% } %>
