<form class="search">
  <h2>Search</h2>
  <input type="text"
         name="query"
         autocomplete='off'
         placeholder='for TV shows or users'>
</form>

<form class="discover">
  <h2>Discover</h2>

  <ul class="decades group">
    <!-- <li>By Decade</li> -->

    <% _(Clickster.DECADES).each(function(decade) { %>
      <li>
        <label>
          <input type="checkbox"
                 name="query[decades][]"
                 value="<%= decade %>">
          '<%= decade %>s
        </label>
      </li>
    <% }) %>

    <li>
      <label>
        <input type="checkbox" name="query[status]" value="Current">
        Today
      </label>
    </li>
  </ul>

  <ul class="genres">
    <!-- <li>By Genre</li> -->

    <% _(Clickster.GENRES).each(function(genre) { %>
      <li>
        <label>
          <input type="checkbox" name="query[genres][]" value="<%= genre %>">
          <%= genre %>
        </label>
      </li>
    <% }) %>
  </ul>

  <button>Search</button>
</form>
