<div id="recommendations">
  <h3>
    <% if (recommendations.hasIdols) { %>
      No activity!
    <% } else { %>
      You aren't following anyone!
    <% } %>
  </h3>

  <h4>Why don't you check out what some of these users are up to?</h4>

  <ul class="user-recomms group">
    <% recommendations.each(function (user) { %>
      <li>
        <a href="#/users/<%= user.escape("username") %>"
          style="background-image: url(<%= user.escape("image_url") %>)"
          data-user="<%= user.escape("username") %>">
        </a>
      </li>
    <% }) %>
  </ul>
</div>